@page "/Blogs/{UrlHandle}"

<h3>Blog Index</h3>

@if (BlogPost == null) {
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
} else {
    <h1>@BlogPost.Title</h1>
    <h3>@BlogPost.Description</h3>
}