@page "/Projects"
@using TrustyPortfolio.Components.Components

<div class="align-content-center">
    <h1 class="text-center mt-4">Featrued Projects: </h1>
</div>

<div class="d-flex flex-wrap">
    @if (!featuredProjects.Any()) {
        <p><em>Loading...</em></p>
    } else {
        @foreach (var project in featuredProjects) {
            <div class="col-lg-4 col-md-6 col-sm-12 p-4">
                <FeaturedProjectCard Project="project" />
            </div>
        }
    }
</div>
<div class="align-content-center">
    <h1 class="text-center">More Projects: </h1>
</div>

<div class="d-flex flex-wrap">
    @if (!projects.Any()) {
        <p><em>Loading...</em></p>
    } else {
        @foreach (var project in projects) {
            <div class="col-lg-3 col-md-6 col-sm-6 p-4">
                <ProjectCard Project="project" />
            </div>
        }
    }
</div>
