@page "/Projects"
@using TrustyPortfolio.Components.Components

<h3>Projects</h3>

<h4>Featured :</h4>

@if (!featuredProjects.Any()) {
    <p><em>Loading...</em></p>
} else {
    foreach (var project in featuredProjects) {
        <FeaturedProjectCard Project="project"/>
    }
}

<h4>More Projects: </h4>

@if (!projects.Any()) {
    <p><em>Loading...</em></p>
} else {
    foreach (var project in projects) {
        <ProjectCard Project="project" />
    }
}