@page "/Resume"

<div class="container my-5">
    <div>
        <div class="d-flex mb-3 justify-content-end">
            <div class="align-content-center">
                <a href="https://onedrive.live.com/download?resid=324C3E78566D9F53%2152807&authkey=!AHXgtazQR54FMWI&em=2" class="btn btn-primary">Download</a>
            </div>
        </div>
    </div>
    <iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1XKmXbyYVlr8QnR6vtiWb75HMgya9XKL0TjZ15y-dc80&font=Default&lang=en&initial_zoom=2&height=650' width='100%' height='650' webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder='0'></iframe>
    <div class="d-flex justify-content-center">
        <div class="col-12 col-lg-6 d-flex justify-content-center">
            <div class="mb-3 blog-details-content">
                <div class="container py-4">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <header class="mb-5 text-center">
                                <h1>Ryan Flores</h1>
                                <p class="lead">Software Developer</p>
                                <ul class="list-unstyled">
                                    <li><i class="bi bi-telephone"></i> <a href="tel:9097248880">909-724-8880</a></li>
                                    <li><i class="bi bi-envelope-at"></i> <a href="mailto:rryanflorres@gmail.com">rryanflorres@gmail.com</a></li>
                                    <li><i class="bi bi-linkedin"></i> <a href="https://www.linkedin.com/in/ryan-flores-tt">LinkedIn</a></li>
                                    <li><i class="bi bi-github"></i> <a href="https://github.com/RyanFloresTT">GitHub</a></li>
                                </ul>
                            </header>

                            <section class="mb-5">
                                <h3>Skills & Technology</h3>
                                <ul>
                                    <li>Proficient in C#, .NET, Azure, and Unity.</li>
                                    <li>Experienced in game development with a strong understanding of coding conventions and SOLID principles.</li>
                                    <li>Familiar with various forms of version control, including git and perforce.</li>
                                    <li>Knowledgeable in the Software Development process using Agile methodologies, including Scrum and Kanban.</li>
                                    <li>Experience with Photoshop and Blender.</li>
                                </ul>
                            </section>

                            <section class="mb-5">
                                <h3>Education</h3>
                                <div class="row">
                                    <div class="col-md-12 mb-4">
                                        <h4>University of Phoenix, Phoenix, Arizona (Online)</h4>
                                        <p>Bachelor of Computer Science - GPA: 3.5 (Expected Graduation: 2025)</p>
                                        <ul>
                                            <li>Data Programming Languages</li>
                                            <li>Java Programming I</li>
                                            <li>Linear Algebra</li>
                                            <li>Intro to Networking</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <h4>California State University, San Bernardino, California</h4>
                                        <p>Studies toward Computer Science (2016-2018)</p>
                                        <ul>
                                            <li>Led a team of 3 in creating a 2D platformer with C# and the Unity Engine.</li>
                                        </ul>
                                    </div>
                                </div>
                            </section>

                            <section class="mb-5">
                                <h3>Certificates</h3>
                                <h4>CS50x - CS50 Certificate (December 2022)</h4>
                                <ul>
                                    <li>Completed the CS50x course, covering various programming languages and frameworks, including C, C++, JavaScript, HTML, CSS, Python, and Flask.</li>
                                    <li>Designed and built a mini-game in LUA.</li>
                                </ul>
                            </section>

                            <section class="mb-5">
                                <h3>Projects</h3>
                                <ul class="list-unstyled">
                                    <li class="mb-4">
                                        <h4>HopScape (Lead Programmer) -</h4>
                                        <a href="https://github.com/RyanFloresTT/Hopscape">GitHub</a> -
                                        <a href="https://ryanflorestt.itch.io/hopscape">Itch.io</a>
                                        <ul>
                                            <li>Using Unity, led a team of 5 to create a top-down puzzle adventure game made for GBJAM11.</li>
                                        </ul>
                                    </li>
                                    <li class="mb-4">
                                        <h4>TrustyBot (Solo Project) -</h4>
                                        <a href="https://github.com/RyanFloresTT/TrustyBot">GitHub</a>
                                        <ul>
                                            <li>A Discord bot showcasing custom commands, extension methods, organized game data, and HTTP requests.</li>
                                        </ul>
                                    </li>
                                    <li class="mb-4">
                                        <h4>Crystal Chaos (Solo Project) -</h4>
                                        <a href="https://github.com/RyanFloresTT/TowerDefenseGame">GitHub</a>
                                        <ul>
                                            <li>Unity game project demonstrating knowledge of C# programming. Designed a tower defense game, and implemented features such as an ability system, enemy spawning, and UI enhancements. Leveraged Object Pooling and Scriptable Objects for efficient resource management.</li>
                                        </ul>
                                    </li>
                                </ul>
                            </section>

                            <section class="mb-5">
                                <h3>Experience</h3>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>Palm Springs Baking Co., Palm Springs, California (2017-Present)</h4>
                                        <p>Quality Assurance Manager</p>
                                        <ul>
                                            <li>Improved bakery operations by creating custom Excel spreadsheets and visualizations for enhanced data tracking and analysis.</li>
                                            <li>Developed VBA macros that automated printing, streamlined order, and label generation.</li>
                                            <li>Collaborated with others to efficiently load and unload delivery trucks and work together to create the sourdough sponge we make every day.</li>
                                        </ul>
                                    </div>
                                </div>
                            </section>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
