@model TrustyPortfolio.Models.ViewModels.AddProjectRequest

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Add Project - Admin Functionality</h1>
    </div>
</div>

<div class="container py-5">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"></script>

    <form method="post" class="">
        <div class="mb-3">
            <label class="form-label">Title</label>
            <input type="text" class="form-control" id="title" asp-for="Title" required/>
        </div>
        <div class="mb-3">
            <label class="form-label">Content</label>
            <textarea class="form-control" id="content" asp-for="Content" required></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Description</label>
            <input type="text" class="form-control" id="description" asp-for="Description" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Featured Image Upload</label>
            <input type="file" id="featuredImageUpload" class="form-control" />
            <img src="" id="featuredImageDisplay" style="display:none; width: 300px;" />
        </div>
        <div>
            <input type="hidden" class="form-control" id="featuredImageUrl" asp-for="FeaturedImageUrl" />
        </div>
        <div>
            <input type="hidden" class="form-control" id="urlHandle" asp-for="UrlHandle" />
        </div>
        <div class="mb-3">
            <label class="form-label">Project URL</label>
            <input type="text" class="form-control" id="projectUrl" asp-for="ProjectUrl"/>
        </div>
        <div class="mb-3">
            <label class="form-label">Published Date</label>
            <input type="date" class="form-control" id="publishedDate" asp-for="PublishDate" />
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="visible" asp-for="Visible">
            <label class="form-check-label">Is Visible?</label>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="featured" asp-for="Featured">
            <label class="form-check-label">Is Featured?</label>
        </div>
        <div class="mb-3">
            <label class="form-label">Tags</label>
            <select class="form-select" asp-items="@Model.Tags" asp-for="SelectedTags">
            </select>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-dark">Save</button>
        </div>
    </form>
</div>


@section Scripts {
    <script>
        var editor = new FroalaEditor('#content');

        const featuredUploadElement = document.getElementById('featuredImageUpload');
        const featuredImageUrlElement = document.getElementById('featuredImageUrl');
        const featuredImageDisplayElement = document.getElementById('featuredImageDisplay');
        const titleElement = document.getElementById('title');
        const urlHandleElement = document.getElementById('urlHandle');
        const formElement = document.getElementById('form');

        featuredUploadElement.addEventListener('change', uploadFeaturedImage);

        function updateUrlHandle() {
            var title = titleElement.value.trim().toLowerCase().replace(/\s+/g, '-').replace(/[^a-z0-9-]/g, '');
            urlHandleElement.value = title;
        }

        titleElement.addEventListener('change', updateUrlHandle);

        updateUrlHandle();

        formElement.addEventListener('submit', function (event) {
            updateUrlHandle();
        });

        async function uploadFeaturedImage(e) {
            console.log(e.target.files[0]);
            let data = new FormData();
            data.append('file', e.target.files[0]);

            await fetch('/api/images', {
                method: 'POST',
                headers: {
                    'Accept': '*/*'
                },
                body: data
            }).then(response => response.json())
                .then(result => {
                    featuredImageUrlElement.value = result;
                    featuredImageDisplayElement.src = result;
                    featuredImageDisplayElement.style.display = 'block';
                });
            console.log("uploaded");
        }

    </script>
}